/*
  Only Grid Css
  Project Page - 
  Author - Carlos Lopez
  Email - cloaction@gmail.com
  Site - 
*/
[class*='grid'],
[class*='col-'],
[class*='small-'],
[class*='desktop-'],
[class*='tablet-'],
[class*='mobile-'],
.grid:after, .grid-box:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}


[class*='col-'],
[class*='small-'],
[class*='desktop-'],
[class*='tablet-'],
[class*='mobile-'] {
    position: relative;
    display: block;
	float: left;
  	min-height: 1px;
    padding-right: $padding; /* column-space */
    padding-left: $padding;
    margin: 0 auto;
}

.grid, .grid-box{
	width: 100%;
	min-width: $min-width;
	margin: 0 auto;
    overflow: hidden;
    &:after{
        content: "";
        display: table;
        clear:both;
    }
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}
/* FLOATS */
.float-left{
    float:left;
}
.float-center{
    margin: 0 auto;
    float:none;

}
.float-right {
	float: right;
}


/* COLS > 1200*/
.grid-box{
    width: $col-max-box;
}
/* COLUMNS */
@for $i from 1 through 12{
    .col-#{$i}{
        width: $i*100%/12;
    }
}
/* GROUPS COLUMNS */
.col-group-5{
    width: 20%;
}
.col-group-7{
    width: 14.28%;
}
.col-group-8{
    width: 12.5%;
}
.col-group-9{
    width: 11.1%;
}
.col-group-10{
    width: 10%;
}
.col-group-11{
    width: 9.09%;
}
/* GROUPED */
.grouped{
    [class*='col-'],
    [class*='small-'],
    [class*='desktop-'],
    [class*='tablet-'],
    [class*='mobile-'],
    [class*='col-group-']{
        &:first-child{
            padding-right: 0px;
            padding-left: $padding;
        }
        &:last-child{
            padding-left: 0px;
            padding-right: $padding;
        }
        padding-right: 0px; 
        padding-left: 0px;   
    }
    [class*='col-'],[class*='col-group-']{
        &:last-child{
            padding-right:$padding;
        }
        
    }
}
/* OFFSETS */
@for $i from 1 through 12{
    .col-off-#{$i}{
        margin-left: $i*100/12;
    }
}
/* VISIBILITY */
.col-hide{
    display: none;
}
.col-visible{
    display: block;
}
[class*='-only']{
    display:none;
}
.col-only{
    display:block;
}
/* CLEARFIX*/
.clearfix{
    display: block;
    clear: both;

}
/* DESKTOP < 1200 */
@media screen and (max-width: $col-min-width){
    .grid-box{
        width: $desktop-max-box;
    }
    @for $i from 1 through 12{
        .desktop-#{$i}{
            width: $i*100%/12;
        }
    }
    /* GROUPS COLUMNS */
    .desktop-group-5{
        width: 20%;
    }
    .desktop-group-7{ 
        width: 14.28%;
    }
    .desktop-group-8{
        width: 12.5%;
    }
    .desktop-group-9{
        width: 11.1%;
    }
    .desktop-group-10{
        width: 10%;
    }
    .desktop-group-11{
        width: 9.09%;
    }
    .grouped{
        [class*='desktop-'], [class*='desktop-group-']{
            &:first-child{
                padding-right: 0px;
                padding-left: $padding;
            }
            &:last-child{
                padding-left: 0px;
                padding-right: $padding;
            }
            padding-right: 0px; 
            padding-left: 0px;
            
        }
    }
    /* OFFSETS */
    @for $i from 1 through 12{
        .desktop-off-#{$i}{
            margin-left: $i*100%/12;
        }
    }
    /* VISIBILITY */
    .desktop-hide{
        display: none;
    }
    .desktop-visible{
        display: block;
    }
    [class*='-only']{
        display:none;
    }
    .desktop-only{
        display:block;
    }
    /* CLEARFIX*/
    .desktop-clearfix{
        display: block;
        clear: both;
    }
}
/* TABLET < 992px */
@media screen and (max-width: $desktop-min-width){
    .grid-box{
        width: $tablet-max-box;
    }
    @for $i from 1 through 12{
        .tablet-#{$i}{
            width: $i*100%/12;
        }
    }
    /* GROUPS COLUMNS */
    .tablet-group-5{
        width: 20%;
    }
    .tablet-group-7{
        width: 14.28%;
    }
    .tablet-group-8{
        width: 12.5%;
    }
    .tablet-group-9{
        width: 11.1%;
    }
    .tablet-group-10{
        width: 10%;
    }
    .tablet-group-11{
        width: 9.09%;
    }
    .grouped{
        [class*='tablet-'], [class*='tablet-group-']{
            &:first-child{
                padding-right: 0px;
                padding-left: $padding;
            }
            &:last-child{
                padding-left: 0px;
                padding-right: $padding;
            }
            padding-right: 0px; 
            padding-left: 0px;
            
        }
    }
    /* OFFSETS */
    @for $i from 1 through 12{
        .tablet-off-#{$i}{
            margin-left: $i*100%/12; 
        }
    }
    /* VISIBILITY */
    .tablet-hide{
        display: none;
    }
    .tablet-visible{
        display: block;
    }
    [class*='-only']{
        display:none;
    }
    .tablet-only{
        display:block;
    }
    /* CLEARFIX*/
    .tablet-clearfix{
        display: block;
        clear: both;
    }
}
/* SMALL < 768px */
@media screen and (max-width: $tablet-min-width){
    .grid-box{
        width: $small-max-box;
    }
    @for $i from 1 through 12{
        .small-#{$i}{
            width: $i*100%/12;
        }
    }
    /* GROUPS COLUMNS */
    .small-group-5{
        width: 20%;
    }
    .small-group-7{
        width: 14.28%;
    }
    .small-group-8{
        width: 12.5%;
    }
    .small-group-9{
        width: 11.1%;
    }
    .small-group-10{
        width: 10%;
    }
    .small-group-11{
        width: 9.09%;
    }
    .grouped{
        [class*='small-'], [class*='small-group-']{
            &:first-child{
                padding-right: 0px;
                padding-left: $padding;
            }
            &:last-child{
                padding-left: 0px;
                padding-right: $padding;
            }
            padding-right: 0px; 
            padding-left: 0px;
            
        }
    }
    /* OFFSETS */
    @for $i from 1 through 12{
        .small-off-#{$i}{
            margin-left: $i*100%/12; 
        }
    }
    /* VISIBILITY */
    .small-hide{
        display: none;
    }
    .small-visible{
        display: block;
    }
    [class*='-only']{
        display:none;
    }
    .small-only{
        display:block;
    }
    /* CLEARFIX*/
    .small-clearfix{
        display: block;
        content: "";
        clear: both;
    }
}
/* MOBILE < 576px */
@media screen and (max-width: $small-min-width){
    .grid-box{
        width: $mobile-max-box;
    }
    @for $i from 1 through 12{
        .mobile-#{$i}{
            width: $i*100%/12;
        }
    }
    /* GROUPS COLUMNS */
    .mobile-group-5{
        width: 20%;
    }
    .mobile-group-7{
        width: 14.28%;
    }
    .mobile-group-8{
        width: 12.5%;
    }
    .mobile-group-9{
        width: 11.1%;
    }
    .mobile-group-10{
        width: 10%;
    }
    .mobile-group-11{
        width: 9.09%;
    }
    /* GROUPED */
    .grouped{
        [class*='mobile-'], [class*='mobile-group-']{
            &:first-child{
                padding-right: 0px;
                padding-left: $padding;
            }
            &:last-child{
                padding-left: 0px;
                padding-right: $padding;
            }
            padding-right: 0px; 
            padding-left: 0px;
            
        }
    }
    /* OFFSETS */
    @for $i from 1 through 12{
        .mobile-off-#{$i}{
            margin-left: $i*100%/12;
        }
    }
    /* VISIBILITY */
    .mobile-hide{
        display: none;
    }
    .mobile-visible{
        display: block;
    }
    [class*='-only']{
        display:none;
    }
    .mobile-only{
        display:block;
    }
    /* CLEARFIX*/
    .mobile-clearfix{
        display: block;
        clear: both;
    }
}
