$cols: 12;

$padding:12px;

$min-width: 748px; /* when using padded grid on ipad in portrait mode, width should be viewport-width - padding = (768 - 20) = 748. actually, it should be even smaller to allow for padding of grid containing element */ 

$col-min-width: 1200px;
$desktop-min-with: 992px;
$tablet-min-width: 768px;
$mobile-max-width: 576px;